/BicycleApp/nbproject/private/
/BicycleApp/build/
/SchoolRegistrationSystem/nbproject/private/
/SchoolRegistrationSystem/build/
/MyHelper/nbproject/private/
/MyProject/nbproject/private/
/MyCalculator/nbproject/private/
/MyCalculator/build/
/PointofSales/nbproject/private/
/PointofSales/build/
/InheritanceExample/nbproject/private/
/UUMSystem/nbproject/private/
/UUMSystem/build/
/JavaGuiExample/nbproject/private/
/JavaGuiExample/build/
/MyProject/build/
/TestApp/nbproject/private/
/TestApp/build/
/StudentRegistrationSystem/dist/
/MathExample/nbproject/private/
/InheritanceExample/build/
/BasicGui/nbproject/private/
/BasicGui/build/